$blue: #3c83d1;

body{
  font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #717171;
}
#app, body, html {
  height: 100%;
}
#app{
  .hero{
    //background-image: url('../assets/particles.png');
  }
}
.markdown{
  padding-left: 30px;
  h1{
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 24px;
    margin-top: 8px;
  }
  h2,h3,h4,h5,h6{
    margin: .3em 0 .6em;
    font-weight: 500;
    clear: both;
  }
  h2{
    font-size: 22px;
  }
  h3{
    font-size: 18px;
  }
  h4{
    font-size: 16px;
  }
  h5{
    font-size: 14px;
  }
  section{
    & > ul li{
      margin-left: 20px;
      padding-left: 4px;
      list-style: circle;
      line-height: 25px;
    }
    & > p {
      margin-bottom: 20px;
      line-height: 24px;
    }
  }
  //p{
  //  margin-bottom: 20px;
  //}
  strong{
    font-weight: 500;
  }

  h2, h3, h4{
    a{
      font-size: .8em;
      opacity: 0;
      -webkit-transition: opacity .2s ease-in-out;
      transition: opacity .2s ease-in-out;
    }
    &:hover{
      a{
        opacity: 1;
      }
    }
  }

  section > table{
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
    border: 1px solid #e9e9e9;
    width: 100%;
    margin: 16px 0;
    th, td{
      border: 1px solid #e9e9e9;
      padding: 8px 16px;
      text-align: left;
    }
    th{
      background: #F7F7F7;
    }
  }

}
.list-group{
  .menu{
    box-shadow: none;
  }
}
.header-anchor{
  margin-left: -18px;
}
.side-nav{
  border-right: 1px solid #e9e9e9;
}

pre code{
  background-color: #f8f8f8;
}
.footer{
  padding: 40px 20px;
}
