.alert {
  position: relative;
  min-width: 240px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  pointer-events: all;
  &.has-icon{
    padding-left: 45px;
  }
  .title{
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
  }
  .notification-content{
    margin-top: 0px;
  }
}
.wrap-icon{
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -11px;
  width: 25px;
  height: 25px;
  i{
    font-size: 21px;
  }
}
