.tabs {
  position: relative;
  flex: 1;
  .tab-list {
    flex: 0 1 auto;
    li{
      padding: 0;
      margin: 0;
      line-height: 24px;
    }
  }
  .tab-content {
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin: 10px;
    flex: 1 1;
  }
  .tab-pane {
    user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    width: 100%;
    flex: 1 1;
    &.is-active {
      transform: translateZ(0);
    }
    &[class*="leave-active"] {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateX(0);
      transform: translateY(0);
    }
  }
  &.is-layout-top {
    flex-direction: column;
  }
  &.is-layout-bottom {
    flex-direction: column-reverse;
  }
  &.is-layout-left {
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
    .tab-list {
      flex-direction: column;
      align-items: flex-start;
      max-width: calc(100% / 5);
      border-bottom: none;
      border-right: 1px solid $grey-light;
    }
    li {
      width: 100%;
      a {
        border-bottom: none;
        border-right: 1px solid $grey-light;
        margin-bottom: 0;
        margin-right: -1px;
        justify-content: flex-end;
        &:hover {
          border-right-color: $grey-darker;
        }
      }
      &.is-active {
        a {
          border-right-color: $turquoise;
        }
      }
    }
  }
  &.is-layout-right {
    flex-direction: row-reverse;
    overflow-x: hidden;
    overflow-y: auto;
    .tab-list {
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      max-width: calc(100% / 5);
      border-bottom: none;
      border-left: 1px solid $grey-light;
      li {
        width: 100%;
        a {
          border-bottom: none;
          border-left: 1px solid $grey-light;
          margin-bottom: 0;
          margin-left: -1px;
          justify-content: flex-start;
          &:hover {
            border-left-color: $grey-darker;
          }
        }
        &.is-active {
          a {
            border-left-color: $turquoise;
          }
        }
      }
    }
  }
}
.is-slideshow{
  .tab-content{
    margin: 0;
  }
  .tab-list{
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    border: none;
    text-align: center;
    list-style: none;
    li{
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 1px 2px;
      text-indent: -999px;
      cursor: pointer;
      background-color: #000 \9;
      background-color: rgba(0,0,0,0);
      border: 1px solid #fff;
      border-radius: 10px;
      a{
        border: none;
      }
      &.is-active{
        background: #fff;
        a{
          /*background: #fff;*/
        }
      }
    }
  }
}
